@keyframes fade {
  0% {
    opacity: 0;
    margin-top: 2rem;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@font-face {
  font-family: inter-regular;
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: inter-medium;
  src: url("../fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: inter-bold;
  src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: inter-black;
  src: url("../fonts/Inter-Black.ttf");
}

* {
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  color: #1E293B;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #181818;
}

header {
  width: 100%;
  padding-block: 30px;
  position: sticky;
  background-color: #181818;
  box-shadow: 0px 10px 10px rgba(2, 4, 8, 0.2);
}

header > nav > a {
  text-decoration: none;
  color: #E11D48;
  font-family: inter-black;
  display: flex;
  align-items: center;
  gap: 10px;
  > svg {
    fill: #E11D48;
  }
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

header > nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 5px;
}

header > nav > ul > li {
  font-family: inter-black;
}

header > nav > ul > li > a {
  padding: 5px 5px;
  text-decoration: none;
  color: yellowgreen;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}

header > nav > ul > li > a:hover {
  text-decoration: none;
  color: #E11D48;
  transition: all 0.5s;
  border-bottom: 4px solid #E11D48;
}

/* @media screen and (width >= 2560px) {
  .first-section {
    width: 80%;
    margin: 200px auto;
  }
  
  .first-section > h1 {
    width: 80%;
    font-family: inter-black;
    color: white;
    font-size: 150px;
    line-height: 160px;
    animation: fade 0.5s;
  }

  .first-section > h4 {
    width: 80%;
    font-family: inter-black;
    color: white;
    font-size: 50px;
    line-height: 50px;
    animation: fade 0.5s;
  }
  
  .first-section > p {
    width: 60%;
    font-family: inter-medium;
    color: white;
    margin-block: 50px;
    font-size: 50px;
    line-height: 70px;
  }

  .first-section > p > .btn-primary {
    text-decoration: none;
    font-family: inter-black;
    font-size: 35px;
    padding-inline: 50px;
    padding-block: 25px;
    border: 1px solid #1E293B;
    background-color: rgba(7, 5, 15, 0.5);
    border-radius: 10px;
    color: white;
    margin-inline-end: 10px;
    transition: all 0.5s;
  }

  .first-section > p > .btn-primary:hover {
    text-decoration: none;
    font-family: inter-black;
    font-size: 35px;
    padding-inline: 50px;
    padding-block: 25px;
    border: 1px solid #37475f;
    box-shadow: 0px 0px 50px rgba(7, 5, 15, 0.5);
    background-color: rgba(7, 5, 15, 0.5);
    border-radius: 10px;
    color: white;
    margin-inline-end: 10px;
    transition: all 0.5s;
  }

  .first-section > .cards {
    display: grid;
    align-items: stretch;
    justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(min(40rem, 100%), 1fr));
    gap: 30px;
  }

  .first-section > .cards > .card {
    background:  #0e1527;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #1E293B;
    display: grid;
    place-content: space-between;
  }

  .first-section > .cards > .card > .title {
    color: white;
    font-family: inter-black;
    font-size: 60px;
  }

  .first-section > .cards > .card > .content > p {
    padding-block: 30px;
    color: white;
    font-family: inter-medium;
    font-size: 35px;
    line-height: 60px;
  }
} */

@media screen and (width >= 1668px) {
  header {
    width: 100%;
    padding-block: 30px;
    position: sticky;
    background-color: #181818;
    box-shadow: 0px 10px 10px rgba(2, 4, 8, 0.2);
  }

  header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }

  section {
    width: 80%;
    margin: auto;
    padding: 150px 0px 0px 0px;
    background-color: #181818;
  }
  
  h1,.title {
    width: 80%;
    font-family: inter-black;
    color: #f0f0f0;
    font-size: 90px;
    line-height: 100px;
    margin-block: 0px 20px;
    animation: fade 0.5s;
  }

  h4,h5,h6,.subtitle {
    width: 100%;
    font-family: inter-black;
    color: white;
    font-size: 35px;
    line-height: 40px;
    animation: fade 0.5s;
  }
  
  p {
    width: 70%;
    font-family: inter-medium;
    color: #f0f0f0;
    margin-block: 0px 20px;
    line-height: 45px;
    font-size: 30px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
    gap: 30px;
  }

  .card {
    padding: 15px 0px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    > .content > p {
      width: 100%;
      font-size: 25px;
    }
  }

  .link {
    font-size: 22px;
    text-decoration: none;
    font-family: inter-medium;
    color: #673ff5;
  }

  article {
    width: 80%;
    margin: 100px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(35rem, 100%), 1fr));
    align-items: start;
    gap: 30px;
  }

  article > img {
    width: 98%;
    margin: 0;
    border-radius: 10px;
    border: 3px solid rgba(182, 182, 182, 0.2);
    box-shadow: 0px 5px 0px rgba(170, 170, 170, 0.2);
  }
}

@media screen and (max-width: 1440px) {
  header {
    width: 100%;
    padding-block: 30px;
    position: sticky;
    background-color: #181818;
    box-shadow: 0px 10px 10px rgba(2, 4, 8, 0.2);
  }

  header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  section {
    width: 95%;
    margin: auto;
    padding: 70px 0px 50px 0px;
    background-color: #181818;
  }
  
  h1,.title {
    width: 80%;
    font-family: inter-black;
    color: #f0f0f0;
    font-size: 90px;
    line-height: 100px;
    margin-block: 0px 20px;
    animation: fade 0.5s;
  }

  h4,h5,h6,.subtitle {
    width: 100%;
    font-family: inter-black;
    color: white;
    font-size: 45px;
    line-height: 40px;
    animation: fade 0.5s;
  }
  
  p {
    width: 70%;
    font-family: inter-medium;
    color: #f0f0f0;
    margin-block: 0px 20px;
    line-height: 45px;
    font-size: 30px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(25rem, 100%), 1fr));
    gap: 30px;
  }

  .card {
    padding: 15px 0px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    > .content > p {
      width: 100%;
      font-size: 25px;
    }
  }

  .link {
    font-size: 20px;
    text-decoration: none;
    font-family: inter-medium;
    color: #673ff5;
  }

  article {
    width: 95%;
    margin: 20px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(30rem, 100%), 1fr));
    align-items: start;
    gap: 30px;
  }

  article > img {
    width: 98%;
    margin: 0;
    border-radius: 10px;
    border: 3px solid rgba(182, 182, 182, 0.2);
    box-shadow: 0px 5px 0px rgba(170, 170, 170, 0.2);
  }
}

@media screen and (max-width: 1024px) {
  header {
    width: 100%;
    padding-block: 30px;
    position: sticky;
    background-color: #181818;
    box-shadow: 0px 10px 10px rgba(2, 4, 8, 0.2);
  }

  header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  section {
    width: 95%;
    margin: auto;
    padding: 70px 0px 50px 0px;
    background-color: #181818;
  }
  
  h1,.title {
    width: 80%;
    font-family: inter-black;
    color: #f0f0f0;
    font-size: 70px;
    line-height: 70px;
    margin-block: 0px 20px;
    animation: fade 0.5s;
  }

  h4,h5,h6,.subtitle {
    width: 100%;
    font-family: inter-black;
    color: white;
    font-size: 35px;
    line-height: 40px;
    animation: fade 0.5s;
  }
  
  p {
    width: 70%;
    font-family: inter-medium;
    color: #f0f0f0;
    margin-block: 0px 20px;
    line-height: 30px;
    font-size: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
    gap: 30px;
  }

  .card {
    padding: 15px 0px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    > p {
      width: 100%;
      font-size: 20px;
    }
  }

  .link {
    text-decoration: none;
    font-family: inter-medium;
    color: #673ff5;
  }

  article {
    width: 95%;
    margin: 20px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    align-items: start;
    gap: 20px;
  }

  article > img {
    width: 98%;
    margin: 0;
    border-radius: 10px;
    border: 3px solid rgba(182, 182, 182, 0.2);
    box-shadow: 0px 5px 0px rgba(170, 170, 170, 0.2);
  }
}

@media screen and  (max-width: 768px) {
  header {
    width: 100%;
    padding-block: 30px;
    position: sticky;
    background-color: #181818;
    box-shadow: 0px 10px 10px rgba(2, 4, 8, 0.2);
  }

  header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  section {
    width: 95%;
    margin: auto;
    padding: 50px 0px 50px 0px;
    background-color: #181818;
  }
  
  h1,.title {
    width: 100%;
    font-family: inter-black;
    color: #f0f0f0;
    font-size: 60px;
    line-height: 70px;
    margin-block: 0px 20px;
    animation: fade 0.5s;
  }

  h4,h5,h6,.subtitle {
    width: 100%;
    font-family: inter-black;
    color: white;
    font-size: 30px;
    line-height: 25px;
    animation: fade 0.5s;
  }
  
  p {
    width: 80%;
    font-family: inter-medium;
    color: #f0f0f0;
    margin-block: 0px 20px;
    line-height: 30px;
    font-size: 18px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
    gap: 30px;
  }

  .card {
    padding: 15px 0px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    > .content > p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .link {
    text-decoration: none;
    font-family: inter-medium;
    color: #673ff5;
  }

  article {
    width: 95%;
    margin: 20px auto 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
    align-items: start;
    gap: 20px;
  }

  article > img {
    width: 98%;
    margin: 0;
    border-radius: 10px;
    border: 3px solid rgba(182, 182, 182, 0.2);
    box-shadow: 0px 5px 0px rgba(170, 170, 170, 0.2);
  }
}

@media screen and  (max-width: 425px) {
  header {
    width: 100%;
    padding-block: 20px;
    position: sticky;
    background-color: #181818;
    box-shadow: 0px 10px 10px rgba(2, 4, 8, 0.2);
  }

  header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  section {
    width: 95%;
    margin: auto;
    padding: 50px 0px 50px 0px;
    background-color: #181818;
  }
  
  h1,.title {
    width: 100%;
    font-family: inter-black;
    color: #f0f0f0;
    font-size: 35px;
    line-height: 40px;
    margin-block: 0px 20px;
    animation: fade 0.5s;
  }

  h4,h5,h6,.subtitle {
    width: 100%;
    font-family: inter-black;
    color: white;
    font-size: 22px;
    line-height: 25px;
    animation: fade 0.5s;
  }
  
  p {
    width: 100%;
    font-family: inter-medium;
    color: #f0f0f0;
    margin-block: 0px 20px;
    line-height: 30px;
    font-size: 18px;
  }

  .cards {
    display: block;
    gap: 20px;
  }

  .card {
    padding: 20px 0px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
  }

  .link {
    text-decoration: none;
    font-family: inter-medium;
    color: #673ff5;
  }

  article {
    width: 95%;
    margin: auto;
    display: grid;
    gap: 40px;
    padding: 20px 0px;
  }

  article > img {
    width: 98%;
    margin: auto;
    border-radius: 10px;
    border: 3px solid rgba(182, 182, 182, 0.2);
    box-shadow: 0px 5px 0px rgba(170, 170, 170, 0.2);
  }
}

@media screen and  (max-width: 375px) {
  header {
    width: 100%;
    padding-block: 20px;
    position: sticky;
    background-color: #181818;
    box-shadow: 0px 10px 10px rgba(2, 4, 8, 0.2);
  }

  header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  section {
    width: 95%;
    margin: auto;
    padding: 50px 0px 50px 0px;
    background-color: #181818;
  }
  
  h1,.title {
    width: 100%;
    font-family: inter-black;
    color: #f0f0f0;
    font-size: 30px;
    line-height: 40px;
    margin-block: 0px 20px;
    animation: fade 0.5s;
  }

  h4,h5,h6,.subtitle {
    width: 100%;
    font-family: inter-black;
    color: white;
    font-size: 22px;
    line-height: 25px;
    animation: fade 0.5s;
  }
  
  p {
    width: 100%;
    font-family: inter-medium;
    color: #f0f0f0;
    margin-block: 0px 20px;
    line-height: 30px;
    font-size: 18px;
  }

  .cards {
    display: block;
    gap: 20px;
  }

  .card {
    padding: 20px 0px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
  }

  .link {
    text-decoration: none;
    font-family: inter-medium;
    color: #673ff5;
  }

  article {
    width: 95%;
    margin: auto;
    display: grid;
    gap: 30px;
    padding: 20px 0px;
  }

  article > img {
    width: 98%;
    margin: auto;
    border-radius: 10px;
    border: 3px solid rgba(182, 182, 182, 0.2);
    box-shadow: 0px 5px 0px rgba(170, 170, 170, 0.2);
  }

}

@media screen and  (max-width: 320px) {
  header {
    width: 100%;
    padding-block: 20px;
    position: sticky;
    background-color: #181818;
    box-shadow: 0px 10px 10px rgba(2, 4, 8, 0.2);
  }

  header > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: auto;
  }

  section {
    width: 95%;
    margin: auto;
    padding: 50px 0px 50px 0px;
    background-color: #181818;
  }
  
  h1,.title {
    width: 100%;
    font-family: inter-black;
    color: #f0f0f0;
    font-size: 30px;
    line-height: 40px;
    margin-block: 0px 20px;
    animation: fade 0.5s;
  }

  h4,h5,h6,.subtitle {
    width: 100%;
    font-family: inter-black;
    color: white;
    font-size: 22px;
    line-height: 25px;
    animation: fade 0.5s;
  }
  
  p {
    width: 100%;
    font-family: inter-medium;
    color: #f0f0f0;
    margin-block: 0px 20px;
    line-height: 30px;
    font-size: 18px;
  }

  .cards {
    display: grid;
    gap: 20px;
  }

  .card {
    padding: 20px 0px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
  }

  .link {
    text-decoration: none;
    font-family: inter-medium;
    color: #673ff5;
  }

  article {
    width: 95%;
    margin: auto;
    display: grid;
    gap: 30px;
    padding: 20px 0px;
  }

  article > img {
    width: 98%;
    margin: auto;
    border-radius: 10px;
    border: 3px solid rgba(182, 182, 182, 0.2);
    box-shadow: 0px 5px 0px rgba(170, 170, 170, 0.2);
  }

}




